.dropzone {
    border: 2px dashed black;
    border-radius: 4px;
    padding: 30px;
    transition: all 0.5s;
}

.dropzone-active {
    background-color: #cfcfcf;
}

.alert-message {

}

.upload-container {
    margin-top: 10px;
}

.btn-upload {
    margin-top: 10px;
}

.progress-load {
    margin-top: 10px;
}