blockquote.twitter-tweet {
    display: inline-block;
    padding: 16px;
    margin: 10px 0;
    width: 500px;
    border: #ddd 1px solid;
    border-top-color: #eee;
    border-bottom-color: #bbb;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

blockquote.twitter-tweet p {
    margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a {

}